.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 768px;
    margin: 0 auto;

  }
}

@media (max-width: 767px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}

