.header-top {
  background: #000;
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
}

.header {
  position: relative;
  background: url("../img/back-block_1.png") no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.menu__list {
  display: flex;
 align-items: center;
}

.menu__item {
  margin-right: 10px;

  a {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.25;
    text-decoration: none;
  }

  a:hover {
    opacity: 0.5;
    transition: all 0.3s ease;
  }
}

.menu__button {
  display: none;
}

//средний блок
.middle-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.social {
  position: absolute;
  top: 20%;
  right: 2%;

  .social__item {
    margin: 20px 0;

    a {
      display: flex;
      text-decoration: none;
      align-items: center;

      span {
        font-size: 16px;
        color: #ffffff;
        line-height: 1.5;
        opacity: 0;
      }

      svg {
        width: 28px;
        height: 28px;
        padding-right: 20px;

        path {
          fill: #ffffff;
          opacity: 0.3;
        }
      }
    }

    a:hover {
      opacity: 1;
      transform: scale(1.1);
      transition: all 0.3s ease;

      span {
        opacity: 1;
      }

      svg {
        path {
          opacity: 1;
        }
      }
    }

    a:active {
      opacity: 1;

      span {
        opacity: 1;
      }

      svg {
        path {
          opacity: 1;
        }
      }
    }

    a:focus {
      opacity: 1;

      span {
        opacity: 1;
      }

      svg {
        path {
          opacity: 1;
        }
      }
    }
  }
}


.myself {
  width: 50%;
  margin-top: -180px;

  h2 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    line-height: 1.083;
    margin: 0;
    letter-spacing: 2px;
  }

  p {
    line-height: 1.75;
    text-align: center;
    margin: 0;
    padding: 35px 65px 50px 0;
  }
}

.picture {
  width: 50%;
}

.myself__button {
  text-align: center;

  .button-white {
    font-size: 15px;
    color: rgb(0, 0, 0);
    line-height: 2.533;
    background: #fff;
    padding: 10px 12px;
    text-decoration: none;
  }
}

.button-cv {
  position: relative;
  font-size: 15px;
  color: rgb(255, 255, 255);
  line-height: 2.533;
  text-decoration: none;
}

//нижний блок
.block-last {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -41px;
  padding-bottom: 80px;
}

.block-one {
  width: 33.3333%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 9px 0px rgba(73, 73, 73, 0.4);
  padding: 50px;

  h3 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    margin: 0;
  }

  p {
    font-size: 16px;
    color: rgb(88, 88, 88);
    line-height: 1.625;
    margin: 0;
    padding: 25px 0 20px;
  }

  a {
    font-size: 13px;
    color: rgb(0, 0, 0);
    line-height: 1.846;
    margin: 0;
    text-decoration: none;
  }
}

.header__bg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header__bg1 {
  position: absolute;
  right: 0;
  left: 56%;
  bottom: 0;
  z-index: -1;
}

@media(max-width: 1200px) {
  .myself {
    margin-top: -70px;

    h2 {
      font-size: 40px;
      letter-spacing: 0px;
    }

    p {
      padding: 15px 50px 25px 0;
    }
  }

  .block-last {
    padding-bottom: 50px;
  }

  .block-one {
    padding: 12px;

    p {
      font-size: 16px;
      color: rgb(88, 88, 88);
      line-height: 1.625;
      margin: 0;
      padding: 20px 0 15px;
    }
  }

  .social {
    position: absolute;
    bottom: 0%;
    right: 2%;
    display: flex;
    align-items: center;

    .social__item {
      margin: 20px;

      a {
        display: flex;
        text-decoration: none;
        align-items: center;
        flex-direction: column;

        span {
          font-size: 16px;
          color: #ffffff;
          line-height: 1.5;
          opacity: 0;
        }

        svg {
          width: 28px;
          height: 28px;
          padding-right: 0;

          path {
            fill: #ffffff;
            opacity: 0.3;
          }
        }
      }
    }
  }
}

@media(max-width: 768px) {
  .middle-block {
    flex-direction: column-reverse;
  }

  .myself {
    width: 100%;
    margin-top: 0px;

    h2 {
      font-size: 35px;
      text-align: center;
    }

    p {
      padding: 15px 0px 25px 0;
    }
  }

  .picture {
    width: 100%;
  }

  .block-last {
    flex-direction: column;
    margin-top: 30px;
    padding-bottom: 30px;
  }

  .block-one {
    width: 90%;
  }

  .social {
    bottom: 47%;
    right: 0;
    left: 0;
    margin: auto;
    width: 300px;

    .social__item {
      margin: 0;
      width: 60px;

      span {
        font-size: 12px;
      }

      svg {
        width: 25px;
        height: 25px;
        padding-right: 0;
      }
    }
  }

  .menu {
    position: relative;
  }

  .menu__button {
    display: block;
  }

  .menu__item {
    margin-right: 0;

    a {
      font-size: 24px;
      line-height: 2.0;
    }
  }

  .menu__list {
    display: flex;
    opacity: 1;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    top: -2%;
    left: 170%;
    z-index: 10;
    background: #c10d0d;
    padding: 50px 30px 30px 30px;
  }

  .menu__list.active {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    width: 100%;
    top: 70%;
    left: 50%;
    z-index: 10;
    background: #000;
    padding: 0px 30px 30px 30px;
  }

  .ham {
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#fff;
    stroke-width:5.5;
    stroke-linecap:round;
  }

  .ham5 .top {
    stroke-dasharray: 40 82;
  }
  .ham5 .bottom {
    stroke-dasharray: 40 82;
  }
  .ham5.active .top {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
  }
  .ham5.active .bottom {
    stroke-dasharray: 14 82;
    stroke-dashoffset: -72px;
  }

  .ham path {
    z-index: -1;
  }
}

