.portfolio {
  background: #000;
  padding: 100px 0;

  h2 {
    font-size: 36px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1.625;
    text-align: center;
    width: 32%;
    margin: 0 auto 50px;
  }
}

.tabs__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  button {
    font-size: 18px;
    line-height: 1.444;
    text-align: center;
    border: none;
    margin: 0 10px;
    user-select: none;
    background: #000000;
  }
}

.tabs__item button.active {
  color: rgb(255, 168, 1);

  &:hover {
    opacity: 1;
  }
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.portfolio__item {
  margin: auto;
  padding: 10px 0;
}

//animation
.tabs-live-enter-active, .tabs-live-leave-active {
  transition: all 1.3s;
}
.tabs-live-enter, .tabs-live-leave-to {
  transform: translateX(50px);
  opacity: 0;
}