/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.no-outline {
  outline: none;
  background: transparent;
}
.no-outline::before {
  display: none;
}

body {
  font-family: "Rubik-Regular", sans-serif;
  font-size: 16px;
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button:hover {
  opacity: 0.5;
}

.button:hover {
  opacity: 0.5;
  transition: all 0.3s ease;
}

@keyframes menu {
  from {
    transform: translateX(-100%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes back {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes button {
  from {
    transform: rotate(0deg);
    opacity: 0.3;
  }
  to {
    transform: rotate(405deg);
    opacity: 1;
  }
}
.item-active {
  border-bottom: 1px dashed #fff;
}

.item-disabled {
  border-bottom: none;
}

.overlay-modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro.woff") format("woff"), url("../fonts/MyriadPro.woff2") format("woff2");
}
@font-face {
  font-family: "Rubik-Black";
  src: url("../fonts/Rubik-Black.woff") format("woff"), url("../fonts/Rubik-Black.woff2") format("woff2");
}
@font-face {
  font-family: "Rubik-Blackitalic";
  src: url("../fonts/Rubik-Blackitalic.woff") format("woff"), url("../fonts/Rubik-Blackitalic.woff2") format("woff2");
}
@font-face {
  font-family: "Rubik-Bold";
  src: url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Rubik-Bolditalic";
  src: url("../fonts/Rubik-Bolditalic.woff") format("woff"), url("../fonts/Rubik-Bolditalic.woff2") format("woff2");
}
@font-face {
  font-family: "Rubik-italic";
  src: url("../fonts/Rubik-italic.woff") format("woff"), url("../fonts/Rubik-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Rubik-Light";
  src: url("../fonts/Rubik-Light.woff") format("woff"), url("../fonts/Rubik-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Rubik-Lightitalic";
  src: url("../fonts/Rubik-Lightitalic.woff") format("woff"), url("../fonts/Rubik-Lightitalic.woff2") format("woff2");
}
@font-face {
  font-family: "Rubik-Medium";
  src: url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Rubik-Mediumitalic";
  src: url("../fonts/Rubik-Mediumitalic.woff") format("woff"), url("../fonts/Rubik-Mediumitalic.woff2") format("woff2");
}
@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.woff2") format("woff2");
}
.header {
  position: relative;
  background: url("../img/back-block_1.png") no-repeat;
  background-size: cover;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 10px;
}
.menu__item a {
  font-size: 16px;
  color: white;
  line-height: 1.25;
  text-decoration: none;
}
.menu__item a:hover {
  opacity: 0.5;
  transition: all 0.3s ease;
}

.menu__button {
  display: none;
}

.middle-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.social {
  position: absolute;
  top: 20%;
  right: 2%;
}
.social .social__item {
  margin: 20px 0;
}
.social .social__item a {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.social .social__item a span {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  opacity: 0;
}
.social .social__item a svg {
  width: 28px;
  height: 28px;
  padding-right: 20px;
}
.social .social__item a svg path {
  fill: #ffffff;
  opacity: 0.3;
}
.social .social__item a:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.social .social__item a:hover span {
  opacity: 1;
}
.social .social__item a:hover svg path {
  opacity: 1;
}
.social .social__item a:active {
  opacity: 1;
}
.social .social__item a:active span {
  opacity: 1;
}
.social .social__item a:active svg path {
  opacity: 1;
}
.social .social__item a:focus {
  opacity: 1;
}
.social .social__item a:focus span {
  opacity: 1;
}
.social .social__item a:focus svg path {
  opacity: 1;
}

.myself {
  width: 50%;
  margin-top: -180px;
}
.myself h2 {
  font-size: 60px;
  color: white;
  line-height: 1.083;
  margin: 0;
  letter-spacing: 2px;
}
.myself p {
  line-height: 1.75;
  text-align: center;
  margin: 0;
  padding: 35px 65px 50px 0;
}

.picture {
  width: 50%;
}

.myself__button {
  text-align: center;
}
.myself__button .button-white {
  font-size: 15px;
  color: black;
  line-height: 2.533;
  background: #fff;
  padding: 10px 12px;
  text-decoration: none;
}

.button-cv {
  position: relative;
  font-size: 15px;
  color: white;
  line-height: 2.533;
  text-decoration: none;
}

.block-last {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -41px;
  padding-bottom: 80px;
}

.block-one {
  width: 33.3333%;
  background-color: white;
  box-shadow: 0px 0px 9px 0px rgba(73, 73, 73, 0.4);
  padding: 50px;
}
.block-one h3 {
  font-size: 20px;
  color: black;
  line-height: 1.2;
  margin: 0;
}
.block-one p {
  font-size: 16px;
  color: #585858;
  line-height: 1.625;
  margin: 0;
  padding: 25px 0 20px;
}
.block-one a {
  font-size: 13px;
  color: black;
  line-height: 1.846;
  margin: 0;
  text-decoration: none;
}

.header__bg2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.header__bg1 {
  position: absolute;
  right: 0;
  left: 56%;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 1200px) {
  .myself {
    margin-top: -70px;
  }
  .myself h2 {
    font-size: 40px;
    letter-spacing: 0px;
  }
  .myself p {
    padding: 15px 50px 25px 0;
  }

  .block-last {
    padding-bottom: 50px;
  }

  .block-one {
    padding: 18px;
  }
  .block-one p {
    font-size: 16px;
    color: #585858;
    line-height: 1.625;
    margin: 0;
    padding: 20px 0 15px;
  }

  .social {
    position: absolute;
    bottom: 0%;
    right: 2%;
    display: flex;
    align-items: center;
  }
  .social .social__item {
    margin: 20px;
  }
  .social .social__item a {
    display: flex;
    text-decoration: none;
    align-items: center;
    flex-direction: column;
  }
  .social .social__item a span {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
    opacity: 0;
  }
  .social .social__item a svg {
    width: 28px;
    height: 28px;
    padding-right: 0;
  }
  .social .social__item a svg path {
    fill: #ffffff;
    opacity: 0.3;
  }
}
@media (max-width: 768px) {
  .middle-block {
    flex-direction: column-reverse;
  }

  .myself {
    width: 100%;
    margin-top: 0px;
  }
  .myself h2 {
    font-size: 35px;
    text-align: center;
  }
  .myself p {
    padding: 15px 0px 25px 0;
  }

  .picture {
    width: 100%;
  }

  .block-last {
    flex-direction: column;
    margin-top: 30px;
    padding-bottom: 30px;
  }

  .block-one {
    width: 90%;
  }

  .social {
    bottom: 47%;
    right: 0;
    left: 0;
    margin: auto;
    width: 300px;
  }
  .social .social__item {
    margin: 0;
    width: 60px;
  }
  .social .social__item span {
    font-size: 12px;
  }
  .social .social__item svg {
    width: 25px;
    height: 25px;
    padding-right: 0;
  }

  .menu {
    position: relative;
  }

  .menu__button {
    display: block;
    width: 50px;
    height: 40px;
    background: #000;
    border: none;
    position: relative;
    z-index: 2;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 2%;
    z-index: 10;
  }

  .menu__item {
    margin-right: 0;
  }
  .menu__item a {
    font-size: 24px;
    line-height: 2;
  }

  .menu-opened {
    animation: menu;
    animation-duration: 1.5s;
  }

  .menu-closed {
    animation: back;
    animation-duration: 0.5s;
    opacity: 0;
  }

  .button-opened:before {
    content: "";
    position: absolute;
    top: 20px;
    right: 8px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
  }
  .button-opened:after {
    content: "";
    position: absolute;
    top: 20px;
    right: 8px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
  }

  .button-closed::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 8px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    box-shadow: 0 8px 0 0 #fff, 0 16px 0 0 #fff;
  }
}
.about {
  margin-top: 70px;
  overflow: hidden;
  padding-bottom: 100px;
  padding-top: 100px;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.about-wrapper h3 {
  font-size: 24px;
  color: black;
  line-height: 1.417;
}

.skill {
  width: 50%;
  position: relative;
  z-index: 1;
}
.skill:before {
  content: "";
  position: absolute;
  top: -23%;
  left: -100%;
  background: #000;
  background-position: center;
  width: 162%;
  height: 146%;
  z-index: -1;
}

.skill__wrapper {
  background-color: white;
  box-shadow: 3px 0px 3.72px 0.28px rgba(101, 101, 101, 0.1);
  width: 76%;
  height: auto;
  padding: 40px;
}
.skill__wrapper h2 {
  font-size: 24px;
  color: black;
  line-height: 1.417;
}

.procent-item {
  font-size: 16px;
  color: black;
  line-height: 1.625;
  margin-bottom: 20px;
}
.procent-item p {
  margin: 0;
}
.procent-item .skill__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.procent-item .value {
  width: 100%;
  height: 10px;
  background: #ddd;
  margin-bottom: 0.2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.28rem;
}
.procent-item .value-box {
  text-align: center;
  color: #fff;
  height: 10px;
  border-radius: 5px;
  background-color: #9d9d9d;
}

.me {
  width: 50%;
  position: relative;
}
.me h3 {
  font-size: 30px;
  color: black;
  line-height: 1.333;
  margin: 0;
}
.me p {
  font-size: 16px;
  color: #585858;
  line-height: 1.625;
}
.me .button-black {
  font-size: 15px;
  color: #fff;
  line-height: 2.533;
  background-color: black;
  padding: 10px 12px;
  text-decoration: none;
}
.me .button-more {
  position: relative;
  font-size: 15px;
  color: #000;
  line-height: 2.533;
  text-decoration: none;
}
.me .me__image {
  position: absolute;
  bottom: -160px;
  left: 0;
  right: 0;
  width: 67px;
  margin: auto;
}

@media (max-width: 1200px) {
  .me .me__image {
    bottom: -120px;
  }
}
@media (max-width: 768px) {
  .about {
    margin-top: 50px;
    padding-top: 0;
    padding-bottom: 40px;
  }

  .about-wrapper {
    flex-direction: column-reverse;
  }

  .skill {
    width: 100%;
    margin-top: 100px;
  }
  .skill:before {
    top: -10%;
    width: 280%;
    height: 121%;
  }

  .me {
    width: 100%;
  }
  .me .me__image {
    bottom: -40px;
    left: 79%;
  }
}
.services {
  margin-top: 90px;
  position: relative;
  margin-bottom: 100px;
}
.services h2 {
  font-size: 30px;
  color: #111111;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
.services .services__discription {
  font-size: 16px;
  color: #262626;
  line-height: 1.625;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
  width: 33%;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.services__list .services__item {
  width: 30.83%;
  padding: 25px;
  box-sizing: border-box;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0px 0px 9px 0px rgba(73, 73, 73, 0.4);
}
.services__list a {
  display: block;
  text-decoration: none;
  text-align: center;
}
.services__list h4 {
  font-size: 18px;
  color: #222222;
  line-height: 3.4;
  margin: 0;
}
.services__list p {
  font-size: 16px;
  color: #656565;
  line-height: 1.563;
  margin: 0;
}

.services__item:hover {
  background-color: #111111;
  transition: all 1s ease;
  transform: scale(1.2);
}
.services__item:hover h4 {
  color: #ffffff;
}
.services__item:hover p {
  color: gainsboro;
}

.services__image {
  position: absolute;
  top: 12%;
  right: 1%;
}

@media (max-width: 1200px) {
  .services {
    margin-bottom: 50px;
  }
  .services .services__discription {
    width: 50%;
  }

  .services__list .services__item {
    width: 48%;
  }

  .services__image {
    top: 12%;
    z-index: -1;
  }
}
@media (max-width: 768px) {
  .services {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .services h2 {
    margin: 0 0 10px;
  }
  .services .services__discription {
    width: 100%;
    margin: auto auto 30px;
  }

  .services__list .services__item {
    width: 100%;
  }

  .services__item:hover {
    background-color: #111111;
    transition: all 1s ease;
    transform: scale(0.9);
  }
  .services__item:hover h4 {
    color: #ffffff;
  }
  .services__item:hover p {
    color: gainsboro;
  }
}
.portfolio {
  background: #000;
  padding: 100px 0;
}
.portfolio h2 {
  font-size: 36px;
  color: white;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
.portfolio p {
  font-size: 16px;
  color: white;
  line-height: 1.625;
  text-align: center;
  width: 32%;
  margin: 0 auto 50px;
}

.tabs__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.tabs__list button {
  font-size: 18px;
  line-height: 1.444;
  text-align: center;
  border: none;
  margin: 0 10px;
  user-select: none;
  background: #000000;
}

.tabs__item button.active {
  color: #ffa801;
}
.tabs__item button.active:hover {
  opacity: 1;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.portfolio__item {
  margin: auto;
  padding: 10px 0;
}

.tabs-live-enter-active, .tabs-live-leave-active {
  transition: all 1.3s;
}

.tabs-live-enter, .tabs-live-leave-to {
  transform: translateX(50px);
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
